
    
    .container{
        border: 1px solid #333;
      min-height: 500px;
    
    }
    ul{ 
        display: flex;
    }
    
    .ul > li {
        display: flex;
        margin: 20px 30px;
        flex-grow: 1;
        font-size: large;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    }
    #nu{
        display: flex;
        align-items: center;
        height: 40px;
        width: 140px;
        flex-wrap: wrap-reverse;
        font-size: large;
        margin-top: 20;
        margin-right: 40px;
        background-color: red;
        color: white;
        border-radius: 5px;
        flex-direction: column;
        padding: 5px 12px; 
      font-size: 19px;  
      line-height: 20px; 
      text-align: center;
      
    }

    .text{
        height: 250px;
        background-color: skyblue;
    }

    .grid{
        height: 2;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        margin-top: 10px;
        grid-column-gap: 20px;
    }
    .grid-item{
        border: 1px solid black;
        text-align: center;
        height: 150px;
        margin: 10px;
        
        
    }
    
    #footer{
        width: 90%;
        margin-top: 270px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .footer1{
        grid-column: span 4;
    }
    .footer2{
        grid-column: span 2;
    }
    .footer3{
        grid-column: span 4;
    }
    
    
    
        
      
      
     
      
      
      
    