
#container{
    /* border: 1px solid black; */
    /* position: fixed; */
    width: 100%;
    margin-top: 100px;
    display: flex
    
    
}

.box2{
    /* border: 1px solid black; */
    margin: auto;
    width: 50%;
    height: 200px;
    margin-bottom: 10px;
}
/* .container1{
    border: 1px solid black;
    width: 100%;
} */
body{
    background-color: aliceblue;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    border: 1px solid black;
    }
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
@media only screen and (min-width:992px) and (max-width:1170px) {
    .container{
        width: 970px;
    }
  }
  @media only screen and (min-width:768px) and (max-width:991px) {
    .container{
        width: 750px;
    }
  }
  @media only screen and (max-width:767px) {
    .container{
        width: 320px;
    }